<h1>Sup</h1>

<div>
  <%= form_for @drop do |f| %>
    <%= f.attachment_field :uploads_files, multiple: true %>
    <%= f.submit "Upload", class: "btn btn-success" %>
  <% end %>
</div>

<hr />

<%= form_tag drops_path, method: :get do %>
  <%= text_field_tag :q, nil, placeholder: "Search" %>
<% end %>
<hr />

<div class="row">
  <%= render @uploads %>
</div>
