<div class="row upload">
  <%= form_for @drop do |f| %>
    <%= f.attachment_field :uploads_files, multiple: true %>
    <%= f.submit "Upload", class: "btn btn-success" %>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-2">
    <%= form_tag drops_path, method: :get, remote: true do %>
      <%= text_field_tag :q, nil, placeholder: "Search" %>
      <%= submit_tag "Search", class: "btn btn-sm btn-default" %>
    <% end %>
  </div>
  <div class="col-xs-7">
    <%= fa_icon "download", text: "Download" %>
    <%= fa_icon "tags", text: "Tag" %>
    <%= fa_icon "times-circle", text: "Delete" %>
    <%= fa_icon "share-square-o", text: "Share" %>
  </div>
</div>
  <hr />

<div class="row">
  <div class="col-xs-2">
    sidnav
  </div>
  <div class="col-xs-10">
    <div class="row" id="results">
      <%= render @uploads %>
    </div>
  </div>
</div>
