<div class="col-sm-4">
  <div class="card result">
      <div class="card-header">
        <%= check_box_tag "upload", upload.id %>
      <span class="card-title text-center bold"><%= upload.file_filename %></span>
      </div>
    <div class="card-block">
      <% if upload.image? %>
        <%= attachment_image_tag(upload, :file, :fill, 300, 300)%>
      <% elsif upload.text? %>
        <%= upload.display_text %>
      <% elsif upload.video? %>
        <%= video_tag upload.file_url, size: "300x300" %>
      <% end %>
    </div>
  </div>
</div>
